[alias] 
	# shows you latest commit on all branches, and upstream info:
	b = branch -vv 
	co = checkout
	ld = log --graph
	lds = log --graph --stat
	lol = log --oneline
	lolg = log --oneline --graph
	st = status
	svn-diff = !git-svn-diff.sh
#[branch]
#	# make git pull re-apply your local changes on top of any new commits;
#	# you probably don't want this if you ever merge any other branches.
#	autosetuprebase = remote
[clean]
	requireForce = true
[color]
	diff = auto
	status = auto
	branch = auto
[core]
	excludesfile = ~/.gitconfig-ignore
[log]
	decorate = short
[merge]
	tool = gvimdiff
[rebase]
	stat = true # shows which files changed when doing a rebase
