# vim: sts=8 sw=8 ts=8
[alias]
	# shows you latest commit on all branches, and upstream info:
	b = branch -vv
	blast = push
	cirand = commit .random -m 'update .random'
	cm = commit
	co = checkout
	diffs = diff --compact-summary --find-renames --find-copies
	furcate = branch
	grpe = grep
	lg = log --graph
	lgn = log --graph --name-status --find-copies
	lgs = log --graph --compact-summary --find-copies
	lol = log --oneline
	lolg = log --oneline --graph
	pf = push --force-with-lease
	shows = show --compact-summary --find-copies
	st = status
	sw = switch
	sub = submodule
	wdiff = diff --color-words
	wshow = show --color-words
#[branch]
#	# make git pull re-apply your local changes on top of any new commits;
#	# you probably don't want this if you ever merge any other branches.
#	# it's probably okay on a per-repository basis.
#	autosetuprebase = remote
[browser "xdg-open"]
	cmd = xdg-open
[clean]
	requireForce = true
[color]
	# enables color for everything that supports it
	ui = auto
[diff]
	algorithm = patience
	colorMoved = default
	renames = copies
	submodule = log
[log]
	decorate = short
[merge]
	tool = vimdiff
[mergetool "vimdiff"]
	path = nvim
[rebase]
	autosquash = true
	stat = true # shows which files changed when doing a rebase
[status]
	submoduleSummary = true
[user]
	name = Ari Pollak
[url "git://github.com/"]
	# Read-only, e.g. gh:aripollak/random
	insteadOf = gh:
[url "git@github.com:"]
	# With write access
	insteadOf = ghw:
[web]
	browser = xdg-open
[pull]
	ff = only
[push]
	autoSetupRemote = true
[gpg]
	format = ssh
[gpg "ssh"]
	defaultKeyCommand = ssh-add -L
	allowedSignersFile = /home/ari/.ssh/allowed_signers
[commit]
	gpgsign = true
